body {
  font-family: 'Source Sans Pro';
  margin: 8px 24px 32px 24px;
}

h1 {
  margin: 0;
  font-size: 3.5em;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: normal;
  letter-spacing: -2px;
}
h1 > strong {
  font-weight: normal;
  font-family: Playball, cursive;
  letter-spacing: 0;
  padding-left: 2px;
}
h2 {
  margin: .5em 0;
  font-size: 1.5em;
  font-weight: 600;
}
h3 {
  margin: .25em 0;
  font-size: 1.25em;
  font-weight: 600;
}
pre,
code {
  font-family: Inconsolata, monospace;
  font-size: 1em;
}

code[class*="language-"],
pre[class*="language-"],
q {
  font-family: Inconsolata, monospace;
}

section {
  padding-left: 20px;
  margin-bottom: 2em;
}
section > h2 {
  margin-left: -20px;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  margin: .2em 0;
  padding: .2em .5em;
  font-size: .875em;
}
code[class*="language-"] {
  line-height: 1.2;
}
label {
  display: inline-flex;
  align-items: center;
  margin-left: .5em;
  white-space: nowrap;
}

svg {
  vertical-align: middle;
}

.example {
  margin-bottom: 1em;
}

@media(max-width: 480px) {
  body {
    margin: 8px 8px 32px 8px;
  }
  section {
    padding-left: 12px;
  }
  section > h2 {
    margin-left: -12px;
  }
}
