$clocklet-active-color = rgb(68,187,255)

.clocklet
  border            1px solid #ddd
  background-color  #eee

[data-clocklet-placement="top"]
  box-shadow        4px -4px 4px rgba(128,128,128,.5)
[data-clocklet-placement="bottom"]
  box-shadow        4px 4px 4px rgba(128,128,128,.5)

.clocklet-plate
  background-color  white

.clocklet-hand
  background-color  lighten($clocklet-active-color, 50%)

.clocklet-hand-origin
  background-color  $clocklet-active-color

.clocklet-tick--selected
  background-color  lighten($clocklet-active-color, 10%)
  color             white

.clocklet--hoverable:not(.clocklet--dragging) .clocklet-tick:hover
  background-color  lighten($clocklet-active-color, 30%)

.clocklet-ampm
  background-color  alpha(#ccc,.6)
  &::before
    background-color  lighten($clocklet-active-color, 10%)
    color             white
  &:hover::before
    background-color  lighten($clocklet-active-color, 30%)
