@import "./color.styl"

dimensions($top, $right = $top, $bottom = $top, $left = $right)
  left    $left
  top     $top
  right   $right
  bottom  $bottom

.clocklet
.clocklet *
  touch-action        manipulation
  -webkit-user-select none
  -moz-user-select    none
  -ms-user-select     none
  user-select         none
  -webkit-tap-highlight-color transparent
  position            absolute
  font-size           inherit

.clocklet
  font-size         16px
  box-sizing        border-box
  width             270px
  height            270px
  margin-top        1px
  padding           8px
  transition        opacity .2s ease-out
  z-index           99998
  border-radius     3px
  transform-origin  0 0

  &:not(.clocklet_shown)
    opacity           0
    pointer-events    none

.clocklet__plate
  position          relative
  height            100%
  border-radius     50%

.clocklet-dial
  dimensions        0
  margin            auto
  border-radius     50%

.clocklet-dial__hand
.clocklet-dial__tick
.clocklet__toggle-am-pm::before
.clocklet__hands-origin
  z-index             99999

.clocklet-dial__hand
  dimensions        6.4% 0 50% 0
  margin            auto
  transform-origin  50% 100%

.clocklet-dial__tick
  width             1.75em
  height            1.75em
  margin           -.875em
  border-radius     50%
  padding           0
  outline           0
  border            0
  cursor            pointer
  background-color  transparent
  color             inherit
  font-family       inherit
  font-weight       inherit
  &::before
    content           attr(data-clocklet-tick-value)

.clocklet__toggle-am-pm
  dimensions        calc(50% + 12px) calc(50% - 24px) calc(50% - 36px) calc(50% - 24px)
  border-radius     12px
  cursor            pointer
  &::before
    content           "AM"
    position          relative
    display           flex
    align-items       center
    justify-content   center
    width             32px
    height            32px
    margin            -4px
    border-radius     50%
    transition        left .1s ease-out
    left              0
  &[data-clocklet-am-pm="pm"]::before
    content           "PM"
    left              calc(100% - 24px)

.clocklet__hands-origin
  dimensions        calc(50% - 5px)
  border-radius     50%

.clocklet[data-value=""]
  .clocklet__hands-origin
  .clocklet-dial__hand
    display           none

.clocklet__dial-hour
  width             calc(40% + 56px)
  height            calc(40% + 56px)
  > .clocklet-dial__hand
    width             8px
  > .clocklet-dial__tick[data-clocklet-tick-value="0"]::before
    content           "12"

.clocklet__dial-minute
  width             100%
  height            100%
  > .clocklet-dial__hand
    width             2px
  > .clocklet-dial__tick
    transform         scale(.6)
    &[data-clocklet-tick-value$="0"]
    &[data-clocklet-tick-value$="5"]
      transform         none
